<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>

<p>Name: <span th:text="${user.username}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>MOBILE: <span th:text="${user.mobile}"></span></p>
<p>ADDRESS: <span th:text="${user.address}"></span></p>
<!--<p>ID: <span th:text="${user.id}"></span></p>-->
<!--<p>ID: <span th:text="${user.id}"></span></p>-->




<!--private String username;-->
<!--private String password;-->
<!--private String email;-->
<!--private String mobile;-->
<!--private String address;-->
<!--private Date dob;-->
<!--private String deptartment;-->


<!--<h1 th:text="'User Name ' + ${name}"></h1>-->
<!--<h1 th:text="'User id ' + ${id}"></h1>-->
<!--<h1 th:text="'User Email ' + ${email}"></h1>-->
</body>
</html>